# See http://help.github.com/ignore-files/ for more about ignoring files.

# static content directory
/document_root

# dependencies
/node_modules

# this project uses typescript so ignore javascript
*.js

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#System Files
.DS_Store
Thumbs.db